.header
{
background: #0D1321;

text-decoration: none;


text-transform: uppercase;
text-align: right;
font-size: 100%;
font-family: 'Anton', sans-serif;

text-shadow: 5px 5px 7px rgb(0, 0, 0);

}

.column
{
    padding: 100px 9px;
background: #1D2D44;    
border-right: 5px solid #000000;
border-top: 5px solid #000000;
}

ul li
{
list-style: none;

}


h4
{
    text-align: center;
    text-align: left;
    padding-left: 15px;
    padding:  10px;
}

.rol
{
text-align: center;

}

.rol> img
{
    width: 140px;
    border-radius: 40%;
    border: 4px solid #ffff;
    
}

.rol> h4
{
color: #ffff;
font-family: 'Anton', sans-serif;
padding-top: 10px;
}

.rol> h5
{
color: rgb(238, 255, 0);
font-family: 'Anton', sans-serif;

}
.logo
{
    border-radius: 40%;
}
.nav-link{

    color: #ffff;

}

.container img
{
    border-radius: 50%;
  border: 10px solid #000000;
  
}

.container
{
    text-align: center;
}

body
{
background-color: #ebe8e4;
    
}

.name
{
    font-size: 50px;
    border-radius: 20px;
    text-shadow: 10px 5px 10px #000000;
    color: rgb(92, 92, 92);
}

a:hover
{
background-color: rgb(179, 182, 184);
border-radius: 10px;
}

.col
{
text-align: center;

}

h1{
    text-align: center;
}

