@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

body{   
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: linear-gradient(135deg, #0a3c46, #fff);
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430;
    flex-wrap: wrap;
    padding: 25px 30px;
    border-radius: 3px;
    background-color: white;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #0a3c46, #fff);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
   margin-bottom:15px ;
   
    
}

.user-details .input-box .details{ 
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius:5px ;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
border-color: #0a3c46;
}



form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #0a3c46, #fff);
    border: none;
}

form .user-details .input-box{
    margin-bottom:15px;
     width: 100%;
     
 }

 .desplegable{
    height: 40px;
    width: 90%;
    outline: none;
    border-radius:5px ;
    background: 1px solid #fff;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    border-color: #0a3c46;
    
 }

 
.bar_naveg{
   
    padding: 100px 100px;
    
}
.bar_naveg a{
        
    text-decoration: none;
    padding: 20px 30px;
    color: #CED4DA;
    text-transform: uppercase;
    text-align: right;
    font-size: 100%;
    font-family: 'Anton', sans-serif;
    border-radius: 20px;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
        
}
.bar_naveg a:hover{
       
    color: rgb(255, 255, 255);
    
 }
